/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Variáveis principais de cores:*/
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #bf0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /*Variáveis relacionadas aos textos:*/
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
