.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offer-card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  position: static;
  border-radius: 16px;
  text-align: center;
}

.offer-card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offer-card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offer-card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0px 0px;
}

.offer-card header h3 span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.offer-card.japao {
  background: url(../img/bg-card-japao.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-card.sanandreas {
  background: url(../img/bg-card-sanandreas.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-card.paraiba {
  background: url(../img/bg-card-paraiba.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-card.manaus {
  background: url(../img/bg-card-manaus.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offer-card {
    width: 420px;
    height: 308px;
  }
  .offer-card header h3 {
    font-size: 48px;
  }
  .offer-card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offer-card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}