.offer-card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  position: static;
  border-radius: 16px;
  text-align: center;
}

.offer-card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offer-card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offer-card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0px 0px;
}

.offer-card header h3 span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
